
<header id="header">
				<div class="inner">
					<div class="content">
						<h1>Ale y Adi </h1>
						<a href="#" class="button big alt"><span>Let's Go</span></a>
					</div>
					<a href="#" class="button hidden"><span>Let's Go</span></a>
				</div>
</header>


<div id="main">
  <div class="inner">
    <div class="columns">
      <div *ngFor="let image of myList">
        <div class="image fit">
          <a href=""><img src="{{image}}" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center">
  <iframe width="425" height="240" src="https://www.youtube.com/embed/x4r-c4I_9Rc" 
  frameborder="0" allowfullscreen></iframe>
</div>

<footer id="footer">
  <a href="#" class="info fa fa-info-circle"><span>Home</span></a>
  <div class="inner">
    <div class="content">
      <p style="font-family: Pattaya; font-size: 6em; color:white; text-align: center ">Te amo</p>
    </div>
    <div class="content">
       <p style="font-family: Pattaya; font-size: 4em; color:white; text-align: center "> Casate conmigo</p>
       <div style="text-align: center"><img src="{{ring}}" alt="ring" width="120" height="120"></div>
    </div>
  </div>
</footer>


